.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-search {
  margin: 1em 0em;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #ececec solid 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.user-name {
  margin: 0.5em;
}

.admin-panel-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 2em;
  margin-bottom: 1em;
  height: 35vh;
  transition: 1s ease all;
}

.user-belt {
  background-color: #a5d6a7;
  font-weight: bold;
  padding: 0.13em 1em;
}

.admin-submit {
  margin-top: 10px;
}

.choose-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-user-btn {
  margin-top: 10px;
}
